body {
    background: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: 0% 10%;
}

h1 {
   margin-bottom: .8rem; 
   color: #444;
   font-family: 'Ubuntu', sans-serif;
}

h3 {
    margin: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #444;
    font-family: 'Ubuntu', sans-serif;
    background: #24C6DC;
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
    background: linear-gradient(to right, #514A9D, #24C6DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    margin: 0px;
    color: #444;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
}

h6 {
    font-size: .8rem;
    font-weight: 100;
    color: #777;
    margin: 0px;
}

.education-item {
    margin-bottom: 1rem;
}

hr {
    outline: none;
    border: none;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background: #24C6DC;
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
    background: linear-gradient(to right, #514A9D, #24C6DC);
    margin-bottom: 2rem;
}

p {
    color: #777;
    font-size: .9rem;
}

a {
    color: #BBB;
}

.underbar {
    width: calc(100% - 1rem);
    margin: 0rem .5rem;
    display: flex;
    justify-content: flex-end;
    color: #BBB;
    font-size: 1.5rem;
}

.underbar i {
    cursor: pointer;
}

.underbar i:hover {
    color: #24C6DC;
}

.body {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-end;
}


.card {
    width: calc(100% - 3rem);
    padding: .5rem 1.5rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: white;
}
.card .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card small {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    color: #888;
    font-size: .7rem;
}
.card .sep {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.card .info {
    width: 100%;
    display: flex;
    margin: .8rem 0rem;
}
.card .info .icon {
    width: 2rem;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #514A9D;
    font-size: 1.2rem;
}
.card .info .text{
    width: calc(100% - 2rem);
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #777;
    flex-direction: column;
}
.card .info .text p {
    margin: 0px;
    padding: 0px;
    font-size: 0.8rem;
}
.card .split {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card .split .panel {
    width: calc(50% - .5rem);
    height: 100%;
}
.card b {
    color: #514A9D;
    margin-bottom: .5rem;
}

.card-wrapper .footer {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.card-wrapper .footer .btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #BBB;
}

.card-wrapper .footer .btn:hover {
    color: #514A9D;
}

.right-title {
    width: calc(80% - 3rem);
}
.grid {
    display: flex;
    justify-content: space-between;
}
.grid .col {
    width: calc(50% - .5rem);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.tag {
    color: white;
    background: #514A9D;
    border-radius: 10px;
    padding: .2rem 1rem;
    margin: .2rem 0rem;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list-item {
    width: 100%;
    color: #777;
    margin: .3rem 0rem;
    font-size: .8rem;
}

.card.collapsed {
    height: 4rem;
}
.card.collapsed .collapsible {
    display: none;
}
.card-wrapper {
    margin: .5rem 0rem;
    width: calc(80% - 3rem);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 10px;
}

@media only screen and (max-width: 750px) {
    .left {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .right {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2rem;
    }
    .card-wrapper {
        margin: .5rem 0rem;
        width: 100%;
    }
    h3 {
        font-size: .9rem;
    }
    .card small {
        font-size: .6rem;
    }
    .card h6 {
        font-size: .7rem;
    }
    .right-title {
        width: 100%;
    }
}